<html>
<head>
    <title>Semana Nacional de Ciência e Tecnologia</title>
    <link rel="icon" href="../static/img/principal.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div style="width: 100%; height: 100vh; position: relative; display: flex; justify-content: center; align-items: center; background-color: #001047;">
        <img style="right: 50px; top: 50px; position: absolute; height: 200px;" src="../static/img/ufrpe.png" alt="UFRPE">
        <img style="left: 0; top: 0; position: absolute; transform: scale(-1, -1);" src="../static/img/elemento-folha.png" alt="Elemento Folha">
        <img src="../static/img/arte-principal.png" alt="Arte Principal">
        <img style="right: 0; bottom: 80px; position: absolute;" src="../static/img/elemento-folha.png" alt="Elemento Folha">

        <nav style="background-color: #3C718A; width: 100%; height: 80px; position: absolute; z-index: 1; bottom: 0; left: 0;">
            <ul>
                <li><a href="https://www.even3.com.br/21-semana-nacional-de-ciencias-e-tecnologia-491231/">Inscrições</a></li>
                <li><a href="#programacao">Programação</a></li>
            </ul>
        </nav>
    </div>

    <div style="background-color: #647CB4;">
        <img style="width: 100%;" src="../static/img/top-div.png" alt="Top Div">
    </div>

    <section class="info" style="background-color: #647CB4; padding-top: 0;">
        <div class="conteudo-info" style="display: flex; margin-bottom: 50px;">
            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                <h1 style="color: #FFF; font-size: 4rem; text-align: center;">
                    <span style="color: #DFAA8C;">21ª</span> Semana Nacional de Ciência e Tecnologia
                </h1>
            </div>
            <div style="width: 50%; display: flex; align-items: center;">
                <div>
                    <p>O Brasil é um país de proporções gigantescas, mas é na diversidade dos seus biomas que encontramos a verdadeira grandiosidade da nossa terra...</p>
                    <p>No coração do Nordeste, a Caatinga se destaca como um bioma singular e fascinante...</p>
                    <p>As comunidades que habitam essa região são guardiãs de um conhecimento ancestral...</p>
                </div>
            </div>
        </div>

        <div style="text-align: center; margin-bottom: 50px;">
            <img src="../static/img/img-biomas-frame.png" alt="Imagem dos Biomas">
        </div>

        <div class="conteudo-info" style="display: flex; margin-bottom: 50px;">
            <div style="width: 50%; display: flex; align-items: center;">
                <div>
                    <p>E é neste vasto cenário de biodiversidade e conhecimento que Belo Jardim desponta como um símbolo de resiliência e inovação...</p>
                    <p>A verdade é que o município de Belo Jardim pulsa em sintonia com a Caatinga, um bioma de contrastes e beleza singular...</p>
                </div>
            </div>
            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                <img src="../static/img/elemento-folha.png" alt="Elemento Folha">
            </div>
        </div>

        <div class="conteudo-info" style="display: flex; margin-bottom: 50px;">
            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                <img src="../static/img/img-biomas-brasil-principal.png" alt="Imagem Principal dos Biomas">
            </div>
            <div style="width: 50%; display: flex; align-items: center;">
                <div>
                    <p>Ao lado, o Instituto Federal de Pernambuco (IFPE) soma forças nessa missão...</p>
                    <p>A poucos quilômetros dali, Tacaimbó, com sua crescente população e sua energia vibrante...</p>
                </div>
            </div>
        </div>

        <div class="conteudo-info" style="display: flex; margin-bottom: 50px;">
            <div style="width: 50%; display: flex; align-items: center;">
                <p>É nesse contexto de união entre natureza, ciência e tecnologia que a 21ª Semana Nacional de Ciência e Tecnologia (21ª SNCT)...</p>
            </div>
            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                <img src="../static/img/elemento-esquerda-croped.png" alt="Elemento Esquerda">
            </div>
        </div>
    </section>

    <section>
        <h2>Portanto, a 21ª SNCT é, enfim, um convite para que todos reconheçam o poder transformador da ciência...</h2>
    </section>

    <section>
        <div style="text-align: center;">
            <img src="../static/img/img-sabores-tradicionais-frame.png" alt="Sabores Tradicionais">
        </div>

        <h2 style="text-align: center;">Confira todos os especialistas que participarão do evento:</h2>

        <div class="lista-palestrantes especialista">
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Silvanete.png" alt="Silvanete Silva">
                <div class="nome-palestrante">Silvanete Silva</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/André%20Ribeiro.png" alt="André Ribeiro">
                <div class="nome-palestrante">André Ribeiro</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Milene%20Vieira.png" alt="Milene Vieira">
                <div class="nome-palestrante">Milene Vieira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Henrique%20Patriota.png" alt="Henrique Patriota">
                <div class="nome-palestrante">Henrique Patriota</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/José%20Roberto.jpg" alt="José Roberto">
                <div class="nome-palestrante">José Roberto</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Eduardo%20Castro.jpg" alt="Eduardo Castro">
                <div class="nome-palestrante">Eduardo Castro</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Carlos%20André.jpg" alt="Carlos André">
                <div class="nome-palestrante">Carlos André</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Bruna%20thorpe%20(1).jpg" alt="Bruna Thorpe">
                <div class="nome-palestrante">Bruna Thorpe</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Weslane.jpg" alt="Weslane Martin">
                <div class="nome-palestrante">Weslane Martin</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Fabio%20Novaes.jpg" alt="Fábio Alves">
                <div class="nome-palestrante">Fábio Alves</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Luciano%20Junior.jpg" alt="Luciano Junior">
                <div class="nome-palestrante">Luciano Junior</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/José%20Rubin.png" alt="José Rubin">
                <div class="nome-palestrante">José Rubin</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Anderson%20Paiva.jpg" alt="Anderson Paiva">
                <div class="nome-palestrante">Anderson Paiva</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Artur%20Coutinho.jpg" alt="Artur Coutinho">
                <div class="nome-palestrante">Artur Coutinho</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Samuel%20Silva.jpg" alt="Samuel Silva">
                <div class="nome-palestrante">Samuel Silva</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/5179502518143659171.jpg" alt="Marcelo Leão">
                <div class="nome-palestrante">Marcelo Leão</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Marcela%20Paiva.jpeg" alt="Marcela Paiva">
                <div class="nome-palestrante">Marcela Paiva</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Ana%20Catarina.jpeg" alt="Ana Catarina">
                <div class="nome-palestrante">Ana Catarina</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Sylvana%20Santos.jpg" alt="Sylvana Santos">
                <div class="nome-palestrante">Sylvana Santos</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Leidjane%20Maciel.jpeg" alt="Leidjane Maciel">
                <div class="nome-palestrante">Leidjane Maciel</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Thaisa%20Alves.jpeg" alt="Thaiza Alves">
                <div class="nome-palestrante">Thaiza Alves</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/eduardor%20nab.jpg" alt="Eduardo Nabinger">
                <div class="nome-palestrante">Eduardo Nabinger</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Palestrantes/Jocimar.jpg" alt="Jocimar Coutinho">
                <div class="nome-palestrante">Jocimar Coutinho</div>
            </div>
        </div>

        <h2 style="text-align: center;">Confira todos os monitores do evento:</h2>

        <div class="lista-palestrantes monitor">
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Jean Arruda.jpg" />
                <div class="nome-palestrante">Jean Arruda</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Claudio Azevedo.jpg" />
                <div class="nome-palestrante">Claudio Azevedo</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Flávia Simões.jpg" />
                <div class="nome-palestrante">Flávia Simões</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Julio Victor.jpg" />
                <div class="nome-palestrante">Júlio Victor</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Karoline Nogueira.jpg" />
                <div class="nome-palestrante">Karoline Nogueira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Anthonnyele Lígia.jpg" />
                <div class="nome-palestrante">Anthonnyele Lígia</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Sabrina.jpg" />
                <div class="nome-palestrante">Sabrina Soares</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Rafael Santos.jpg" />
                <div class="nome-palestrante">Rafael Santos</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Emilly Nayara.jpg" />
                <div class="nome-palestrante">Emmily Nayara</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Ludmilla.jpg" />
                <div class="nome-palestrante">Ludmilla</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Limeira.jpg" />
                <div class="nome-palestrante">Rodrigo Limeira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Heitor Conrado.jpg" />
                <div class="nome-palestrante">Heitor Conrado</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Isak Macena.jpg" />
                <div class="nome-palestrante">Isak Macena</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Maria Kaylany.jpg" />
                <div class="nome-palestrante">Maria Kaylany</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Anthonny Lucas.jpg" />
                <div class="nome-palestrante">Anthonny Lucas</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/José Endson.jpg" />
                <div class="nome-palestrante">José Endson</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Leonardo Basílio.jpg" />
                <div class="nome-palestrante">Leonardo Basílio</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Luidson Silva.jpg" />
                <div class="nome-palestrante">Luidson Silva</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Emilly Audryn.jpg" />
                <div class="nome-palestrante">Emilly Audryn</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Whylma Beatriz.jpg" />
                <div class="nome-palestrante">Whylma Beatriz</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Rafael Arruda.jpg" />
                <div class="nome-palestrante">Rafael Arruda</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Giovanna.jpg" />
                <div class="nome-palestrante">Giovanna Vilela</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Felipe Moreira.jpg" />
                <div class="nome-palestrante">Felipe Moreira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Wislany.jpg" />
                <div class="nome-palestrante">Wislany Rodrigues</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Bianca Sayonara.jpg" />
                <div class="nome-palestrante">Bianca Sayonara</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Raul.jpg" />
                <div class="nome-palestrante">Raul José</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Estefanny Rodrigues.jpg" />
                <div class="nome-palestrante">Estefanny Rodrigues</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Marian Lima.jpg" />
                <div class="nome-palestrante">Marian Lima</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Aline Siqueira.jpg" />
                <div class="nome-palestrante">Aline Siqueira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Elisabethe Oliveira.jpg" />
                <div class="nome-palestrante">Elisabethe Oliveira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Rennan Bezerra.jpg" />
                <div class="nome-palestrante">Renan Bezerra</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Thalita.jpg" />
                <div class="nome-palestrante">Thalita Santana</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Ariane.jpg" />
                <div class="nome-palestrante">Ariane Cordeiro</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Lucas Alves.jpg" />
                <div class="nome-palestrante">Lucas Alves</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Marcos.jpg" />
                <div class="nome-palestrante">Marcos</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Elizangela Barros.jpg" />
                <div class="nome-palestrante">Elizangela Barros</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Lucas FLorencio.jpg" />
                <div class="nome-palestrante">Lucas Florencio</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Pedro Lucas.jpg" />
                <div class="nome-palestrante">Pedro Lucas</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Daniella Pereira.jpg" />
                <div class="nome-palestrante">Daniella Pereira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Gabriel Rennan.jpg" />
                <div class="nome-palestrante">Gabriel Renan</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Rhuan Cavalcante.jpg" />
                <div class="nome-palestrante">Rhuan Cavalcante</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Jair Rodrigues.jpg" />
                <div class="nome-palestrante">Jair Rodrigues</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Gabriel Oliveira.jpeg" />
                <div class="nome-palestrante">Gabriel Oliveira</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Felipe Patriota.jpg" />
                <div class="nome-palestrante">Felipe Patriota</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Chaylanne.jpg" />
                <div class="nome-palestrante">Chaylane Franco</div>
            </div>
            <div class="palestrante">
                <img class="foto-palestrante" src="../static/img/Monitores/Pedro chagas.jpg" />
                <div class="nome-palestrante">Pedro Chagas</div>
            </div>
        </div>
    </section>

    <section>
        <h2 id="programacao" style="text-align: center;">Programação do Evento</h2>
        <h3>Terça-feira 29/10/2024</h3>
        <ul>
            <li>Credenciamento ginásio da AEB 08h às 09h</li>
            <li>Abertura (Cerimonial) - ginásio da AEB 09h às 09:30</li>
            <li>Apresentação cultural - ginásio da AEB 09:30 às 11h</li>
            <li>
                Mesa redonda: o papel do CETENE no desenvolvimento social e econômico no Nordeste.
                <p>Marcelo Leão: ginásio da AEB 11h às 12h</p>
            </li>
            <li>
                Biomas de Belo Jardim
                <p>José Rubin Barbosa Maciel Filho (Pé na estrada): ginásio da AEB 11h às 12h</p>
            </li>
        </ul>

        <h4>Almoço 12h às 14h</h4>
        <ul>
            <li>Minicurso: Técnicas de preparação de catalisador (3 horas)
                <p>André Ribeiro - 30 vagas, 14h às 17h - Bloco A da AEB</p>
            </li>
            <li>Minicurso: API REST com Spring Framework (3 horas)
                <p>Elias Silva e Jamerson Carlos - 30 vagas, 14h às 17h - Laboratório de Informática da UABJ</p>
            </li>
            <li>Minicurso: Design e fabricação de placas de circuito impresso (3 horas)
                <p>Henrique Patriota e equipe - 30 vagas, 14h às 17h - Laboratório de Automação da UABJ</p>
            </li>
            <li>Oficina: Descomplicando o Lattes (3 horas)
                <p>Weslane Martin e Bruna Thorpe - 30 vagas, 14h às 17h - Bloco A da AEB</p>
            </li>
            <li>Oficina: Hidráulica experimental (3 horas)
                <p>José Roberto e equipe - 30 vagas, 14h às 17h - Laboratório de Hídrica da UABJ</p>
            </li>
            <li>Mesa Redonda: Professores do Departamento de Engenharia Civil e Ambiental - UFPE (3 horas)
                <p>Anderson Paiva, Sylvana Melo e Leidjane Maciel - 30 vagas, 14h às 17h - Sala de Desenho UABJ</p>
            </li>
            <li>Competição de programação (3 horas)
                <p>Felipe Patriota e Luis Davi - 30 vagas (10 equipes), 14h às 17h - Instituto Conceição Moura</p>
            </li>
            <li>Minicurso: Introdução ao LaTeX e Overleaf (3 horas)
                <p>Fábio Novaes - 30 vagas, 14h às 17h - AEB - Espaço Xucuru</p>
            </li>
        </ul>

        <h3>Quarta-Feira 30/10/2024</h3>
        <ul>
            <li>Credenciamento UABJ 08h às 09h</li>
            <li>Oficina: Desenvolvimento de chatbots (2 horas)
                <p>Izadora Freitas e Matheus Gabriel - 20 vagas - UABJ</p>
            </li>
            <li>Oficina: Criação de sequência de LED com Arduino (2 horas)
                <p>Ana Flávia Toscano, Pedro Vitor e Thalles Rodrigues - 20 vagas - Laboratório de Eletrônica</p>
            </li>
            <li>Oficina: Análise de Dados (2 horas)
                <p>Lucas Sotero e Santiago Henrique - 20 vagas - Laboratório de Eletrônica</p>
            </li>
            <li>Oficina: Desenvolvimento Web (2 horas)
                <p>Chaylane Franco e Jair Rodrigues - 20 vagas - AEB Xucuru</p>
            </li>
            <li>Oficina: Criação de jogos com Unity (2 horas)
                <p>Adriano da Silva e José Guilherme - 20 vagas - UABJ - Laboratório de Computação</p>
            </li>
            <li>Minicurso: Gestão e gerenciamento de projetos (2 horas)
                <p>Felipe Garcez - 20 vagas - AEB</p>
            </li>
        </ul>

        <h4>Almoço 12h às 14h</h4>
        <ul>
            <li>Oficina: Introdução à programação em Python (2 horas)
                <p>Douglas Viana, Gabriel Pinheiro e Keila Roberta - 20 vagas - UABJ - Laboratório de Computação</p>
            </li>
            <li>Oficina: Introdução ao Fusion 360 (2 horas)
                <p>Valdir Zacarias e Vitor Jorge - 20 vagas - UABJ - Laboratório de Computação</p>
            </li>
            <li>Minicurso: Métodos de extração e caracterização de carotenoides de sementes do urucum (4 horas)
                <p>Carlos André - 15 vagas - Laboratório de Química da UABJ</p>
            </li>
            <li>Minicurso: Detecção de objetos com YOLO (3 horas)
                <p>Elias Silva, Matheus Rubem e Nathan Cunha - 20 vagas - Laboratório de Eletrônica da UABJ</p>
            </li>
            <li>Oficina: Introdução ao Matlab para engenheiros (2 horas)
                <p>Moisés Tavares - 16 vagas - AEB - Espaço Xucuru</p>
            </li>
        </ul>

        <h3>Quarta-Feira 30/10/2024 (Tacaimbó-PE)</h3>
        <ul>
            <li>Oficina: Bora reagir?
                <p>Meninas na Ciência - 20 vagas - Tacaimbó 09h às 12h</p>
            </li>
            <li>Oficina: Eletrônica Básica (3 horas)
                <p>Meninas na Ciência - 20 vagas - Tacaimbó 09h às 12h</p>
            </li>
            <li>Oficina: Programação (3 horas)
                <p>Meninas na Ciência - 20 vagas - Tacaimbó 09h às 12h</p>
            </li>
            <li>Oficina: Hidráulica (3 horas)
                <p>Meninas na Ciência - 20 vagas - Tacaimbó 09h às 12h</p>
            </li>
            <li>Minicurso: Robótica livre em escola de tempo integral (3 horas)
                <p>Edilson Moura - 20 vagas - Tacaimbó 09h às 12h</p>
            </li>
            <li>Carro do Espaço Ciência e da Neoenergia 09h às 12h</li>
            <li>Roda de conversa: Mulheres na área STEM (1 hora)
                <p>Milene Figueira - Tacaimbó</p>
            </li>
        </ul>

        <h4>Almoço 12h às 14h</h4>
        <ul>
            <li>Amostras Interativas (3 horas)
                <p>Thaisa Alves - Tacaimbó</p>
            </li>
            <li>Oficina: Sistema de Sensoriamento de Distância com Arduino (3 horas)
                <p>Henrique Patriota e Monitores - Tacaimbó</p>
            </li>
            <li>Minicurso: Curso de Minifoguetes (3 horas)
                <p>Eduardo Nabinger - 20 vagas - Tacaimbó</p>
            </li>
            <li>Oficina: Fabricação e aplicação da Geotinta (3 horas)
                <p>Adriana de Fátima e Joycy Samira - Tacaimbó</p>
            </li>
            <li>Palestra: Energia elétrica renovável (1 hora)
                <p>Rhuan Cavalcanti - 30 vagas - Tacaimbó</p>
            </li>
            <li>Oficina: Grupo Batuque: Explorando o ritmo com visão computacional (3 horas)
                <p>Edson Nunes e equipe - Tacaimbó</p>
            </li>
            <li>Carro do Espaço Ciência e da Neoenergia</li>
        </ul>

        <h3>Quinta-Feira 31/10/2024</h3>
        <ul>
            <li>Credenciamento e Boas Vindas 08h às 09h</li>
            <li>Oficina: Equipe Zabumbaja SAE - Projeto e desenvolvimento de um veículo off-road de competição estudantil
                <p>20 vagas - AEB</p>
            </li>
            <li>Minicurso: Quem disse? Passos para a Revisão de Literatura
                <p>Weslane Martins - 20 vagas - AEB</p>
            </li>
            <li>Oficina: Análise experimental da qualidade da água (1 hora)
                <p>Marcela Paiva (gerente da ETE de Petrolina) - Laboratório de Química UABJ</p>
            </li>
            <li>Feira Oxê: Exposição de Artesanato
                <p>Ginásio da AEB</p>
            </li>
            <li>Feira de Ciências: Explorando os fundamentos da física na prática
                <p>Fábio Novaes - Ginásio da AEB</p>
            </li>
            <li>Palestra: Modelagem Computacional de Nanotubos de Carbono (1 hora)
                <p>Eduardo Castro - Ginásio da AEB</p>
            </li>
            <li>Mesa Redonda: Como exercer legalmente a profissão de engenharia química (1 hora)
                <p>Ana Catarina Gomes de Amorim (CRQ) - Ginásio da AEB</p>
            </li>
        </ul>

        <h4>Almoço 12h às 14h</h4>
        <ul>
            <li>Aula Inaugural - Reitora Maria José</li>
            <li>Minicurso: Dinâmica e determinação do sequestro do dióxido de carbono (CO2) por espécies florestais (2 horas)
                <p>Thaiza Alves - 20 vagas - Laboratório de Hídrica UABJ</p>
            </li>
            <li>Oficina: Pré-cálculo para ingressantes (2 horas)
                <p>Éber Vizzarreta - 20 vagas - AEB Bloco A</p>
            </li>
            <li>Minicurso: Oratória para perder a timidez (3 horas)
                <p>Luciano Junior - 20 vagas - AEB Bloco A</p>
            </li>
            <li>Minicurso: Fibras ópticas: aplicações em sistemas de comunicação e sensoriamento (2 horas)
                <p>Henrique Patriota, Márcio, Douglas e Pedro - 20 vagas - Laboratório de Eletrônica UABJ</p>
            </li>
            <li>Minicurso: Introdução à Lógica Proposicional (2 horas)
                <p>Auri Pereira da Silva - 20 vagas - AEB Bloco A</p>
            </li>
        </ul>

        <h3>Sexta-Feira 01/11/2024</h3>
        <ul>
            <li>Competições Esportivas Atléticas
                <p>Quadra do IFPE</p>
            </li>
        </ul>

        <h4>Almoço 12h às 14h</h4>
        <ul>
            <li>Competições Esportivas Atléticas
                <p>Quadra do IFPE</p>
            </li>
        </ul>
    </section>

    <img src="../static/img/pôster%20snct.png" alt="Pôster SNCT" style="width: 100%;">
</body>
</html>