<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semana Nacional de Ciencia e Tecnologia</title>
</head>
<body>
    <div style="width: 1440px; height: 1246px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 1045px; left: 0px; top: 0px; position: absolute; background: #001047"></div>
        <img style="width: 637px; height: 694px; left: 500px; top: 55px; position: absolute" img src="../static/scnt-arte-principal-v2.png"/>
        <img style="width: 359px; height: 493px; left: 1081px; top: 583px; position: absolute" src="../static/elemento-direita.png" />
        <img style="width: 350px; height: 415px; left: 0px; top: 0px; position: absolute" src="../static/elemento-esquerda-croped.png" />
        <div style="width: 345px; height: 135px; left: 90px; top: 853px; position: absolute; background: #6571B1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 43px; border: 1px black solid"></div>
        <div style="width: 243px; height: 67px; left: 141px; top: 887px; position: absolute; color: black; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">Confira já</div>
        <img style="width: 1440px; height: 201px; left: 0px; top: 1045px; position: absolute" src="https://via.placeholder.com/1440x201" />
        <img style="width: 331px; height: 365px; left: 90px; top: 415px; position: absolute" src="../static/ufrpe_transparent.png" />
      </div>

</body>
</html>