<html>
<head>
  <title>Semana Nacional de Ciencia e Tecnologia</title>
</head>
<body>
  <h1>Semana Nacional de Ciencia e Tecnologia</h1>

  <div class="lista-palestrantes">
    <div class="palestrante">
        <img class="foto-palestrante" src="https://via.placeholder.com/433x460" />
        <div class="nome-palestrante">  Sabrina Soares</div>
      </div>
      <div class="palestrante">
        <img class="foto-palestrante" src="https://via.placeholder.com/433x460" />
        <div class="nome-palestrante" >  Sabrina Soares</div>
      </div>
      <div class="palestrante">
        <img class="foto-palestrante" src="https://via.placeholder.com/433x460" />
        <div class="nome-palestrante" >  Sabrina Soares</div>
      </div>


</div>





<style>
  .lista-palestrantes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .palestrante {
    max-width: 200px;
    

    .foto-palestrante {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .nome-palestrante {
      padding: 10px 20px;
      border-radius: 0 0 10px 10px;
      background-color: #728D45;
    }
  }
</style>
</body>

</html>




<div class="Palestrantes" style="width: 433px; height: 584px; left: 971px; top: 584px; position: absolute">
    <div class="Rectangle4" style="width: 433px; height: 554px; left: 0px; top: 0px; position: absolute; background: #6571B1; border-radius: 40px"></div>
    <div class="Rectangle5" style="width: 433px; height: 554px; left: 0px; top: 0px; position: absolute; background: #728D45; border-radius: 40px"></div>
    <img class="Image3" style="width: 433px; height: 459.67px; left: 0px; top: 0px; position: absolute; border-radius: 36px; border: 1px black solid" src="https://via.placeholder.com/433x460" />
    <div class="SilvaneteSilva" style="width: 433px; height: 121.70px; left: 58px; top: 480px; position: absolute; color: white; font-size: 40px; font-family: Kanit; font-weight: 400; word-wrap: break-word">  Sabrina Soares</div>
  </div>
